 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <i class="fab fa-app-store-ios"></i>
      <i class="fab fa-google-play"></i>
      <p>Fastlane, Android Studio, Xcode</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="fab fa-apple"></i>
      <i class="fab fa-android"></i>
      <p>RxJava, RxSwift</p>
    </div>
    <div class="tech">
      <h2>Testing</h2>
      <i class="fab fa-git"></i>
      <i class="fab fa-jenkins"></i>
      <p>Espresso, Junit, Mockito, XCTest, UITest</p>
    </div>
</div>
