
<div class="user-details">
  <h1> Featured Projects </h1>
</div>

{% for portfolio in site.portfolio %}
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> {{ portfolio.title }} </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>{{ portfolio.excerpt }}</p>
    <a class="project-link" href="{{ portfolio.url | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
{% endfor %}



